<ul class="top_nav">
  <li id="home_page"
  {% if page.url == "/index.html" %}{{ site.activeClass }}{% endif %}>
  <a href="{{ site.url }}/">HOME</a>
  </li>
  {% for nPage in site.navPages %}
  <li id="{{ nPage }}_page"
  {% if page.url contains nPage %}{{ site.activeClass }}{% endif %}>
  <a href="{{ site.url }}/{{ nPage }}/">{{ nPage | upcase }}</a></li>
  {% endfor %}
</ul>
