<!doctype html>
<html>
<head>
{% css_asset_tag presentation %}
- /_assets/site.css.less
- /_assets/reveal.min.css
- /_assets/theme/default.css
- /_assets/syntax.css.less
{% endcss_asset_tag %}
  <script type="text/javascript" src="{{ site.absoluteurl }}{{ site.baseurl }}/js/head.min.js"></script>
  <script type="text/javascript" src="{{ site.absoluteurl }}{{ site.baseurl }}/js/reveal.min.js"></script>
</head>
<body>
<div class="reveal"><div class="slides">
<section>
<h2>{{ page.title }}</h2>
{% if page.subtitle %}<h3><em>{{ page.subtitle }}</em></h3>{% endif %}
{% if page.instructors %}{{ page.instructors | join: ', ' }}{% endif %}
</section>
